ipykernel
dotenv
langgraph
langchain
langchain_community
langchain_openai
langchain_core
langchain_google_genai
langchain-tavily
langchain_huggingface
langchain_mistraiai
youtube-search-python
youtube-search
wikipedia
lxml
yfinance
ddgs
structlog
langchain_groq